{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h3>Hello</h3>
    <div>
        <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{ imageForm | crispy }}
            <img src="{{ imageForm.image.url }}" alt="">
            <input class="button-primary" type="submit" value="Predict">
        </form>
    </div>
    
</body>
</html>